In [191]:
import pandas as pd

In [192]:
import numpy as np

In [193]:
import warnings

In [194]:
warnings.filterwarnings('ignore')

In [195]:
book=pd.read_csv(r'C:\Users\deyar\OneDrive\Desktop\BookRecommendationSystem\notebooks\data\Books.csv')
user=pd.read_csv(r'C:\Users\deyar\OneDrive\Desktop\BookRecommendationSystem\notebooks\data\Users.csv')
rating=pd.read_csv(r'C:\Users\deyar\OneDrive\Desktop\BookRecommendationSystem\notebooks\data\Ratings.csv')

In [196]:
book.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [197]:
user.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [198]:
rating.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [199]:
book_and_rating=book.merge(rating,on='ISBN')

In [200]:
book_and_rating.shape

(1031136, 10)

In [201]:
book_and_rating.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5

In [202]:
book_and_rating.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            4
User-ID                0
Book-Rating            0
dtype: int64

In [203]:
book_and_rating.duplicated().sum()

0

In [204]:
book_and_rating.dropna(inplace=True)

In [205]:
book_and_rating.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
User-ID                0
Book-Rating            0
dtype: int64

In [206]:
book_and_rating.shape

(1031128, 10)

In [207]:
book_and_rating.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L', 'User-ID', 'Book-Rating'],
      dtype='object')

In [208]:
count=book_and_rating.groupby('Book-Title')['Book-Rating'].count().reset_index()

In [209]:
count.columns

Index(['Book-Title', 'Book-Rating'], dtype='object')

In [210]:
count=count.rename(columns={'Book-Rating':'rating_count'})

In [211]:
count.head(2)

                                          Book-Title  rating_count
0   A Light in the Storm: The Civil War Diary of ...             4
1                              Always Have Popsicles             1

In [212]:
avg=book_and_rating.groupby('Book-Title')['Book-Rating'].mean().reset_index()

In [213]:
avg.head()

                                          Book-Title  Book-Rating
0   A Light in the Storm: The Civil War Diary of ...         2.25
1                              Always Have Popsicles         0.00
2               Apple Magic (The Collector's series)         0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...         8.00
4   Beyond IBM: Leadership Marketing and Finance ...         0.00

In [214]:
avg=avg.rename(columns={'Book-Rating':'rating_avg'})
avg.head(2)

                                          Book-Title  rating_avg
0   A Light in the Storm: The Civil War Diary of ...        2.25
1                              Always Have Popsicles        0.00

In [215]:
count.head(2)

                                          Book-Title  rating_count
0   A Light in the Storm: The Civil War Diary of ...             4
1                              Always Have Popsicles             1

In [216]:
count_avg=count.merge(avg,on='Book-Title')

In [217]:
count_avg.head()

                                          Book-Title  rating_count  rating_avg
0   A Light in the Storm: The Civil War Diary of ...             4        2.25
1                              Always Have Popsicles             1        0.00
2               Apple Magic (The Collector's series)             1        0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...             1        8.00
4   Beyond IBM: Leadership Marketing and Finance ...             1        0.00

In [218]:
popular_book=count_avg[count_avg['rating_count']>250]

In [219]:
popular_book.head(2)

              Book-Title  rating_count  rating_avg
764                 1984           284    4.454225
818  1st to Die: A Novel           509    3.575639

In [220]:
popular_book.shape

(186, 3)

In [221]:
popular_book=popular_book.sort_values(by='rating_count',ascending=False).head(50)

In [222]:
popular_book.shape

(50, 3)

In [223]:
popular_book.head()

                        Book-Title  rating_count  rating_avg
234945                 Wild Animus          2502    1.019584
196321   The Lovely Bones: A Novel          1295    4.468726
183568           The Da Vinci Code           898    4.642539
5303               A Painted House           838    3.231504
199232  The Nanny Diaries: A Novel           828    3.530193

In [224]:
book.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [225]:
popular_book50=popular_book.merge(book,on='Book-Title')

In [226]:
popular_book50.shape

(216, 10)

In [227]:
final50=popular_book50.drop_duplicates('Book-Title')

In [228]:
final50.head()

,Book-Title,rating_count,rating_avg,ISBN,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,Wild Animus,2502,1.019584,0971880107,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...,http://images.amazon.com/images/P/0971880107.0...
1,The Lovely Bones: A Novel,1295,4.468726,0316666343,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...
2,The Da Vinci Code,898,4.642539,0385504209,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...
8,A Painted House,838,3.231504,044023722X,John Grisham,2001,Dell Publishing Company,http://images.amazon.com/images/P/044023722X.0...,http://images.amazon.com/images/P/044023722X.0...,http://images.amazon.com/images/P/044023722X.0...
13,The Nanny Diaries: A Novel,828,3.530193,0312278586,Emma McLaughlin,2002,St. Martin's Press,http://images.amazon.com/images/P/0312278586.0...,http://images.amazon.com/images/P/0312278586.0...,http://images.amazon.com/images/P/0312278586.0...

In [229]:
final50.shape

(50, 10)

In [230]:
final50.columns

Index(['Book-Title', 'rating_count', 'rating_avg', 'ISBN', 'Book-Author',
       'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M',
       'Image-URL-L'],
      dtype='object')

In [231]:
final50=final50[['Book-Title','Image-URL-M','Book-Author','rating_count','rating_avg']]
final50.head(3)

,Book-Title,Image-URL-M,Book-Author,rating_count,rating_avg
0,Wild Animus,http://images.amazon.com/images/P/0971880107.0...,Rich Shapero,2502,1.019584
1,The Lovely Bones: A Novel,http://images.amazon.com/images/P/0316666343.0...,Alice Sebold,1295,4.468726
2,The Da Vinci Code,http://images.amazon.com/images/P/0385504209.0...,Dan Brown,898,4.642539

In [232]:
book.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [233]:
user.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [234]:
rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [235]:
book_and_rating.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5

In [236]:
book_and_rating.shape

(1031128, 10)

In [237]:
ratingatleast200=book_and_rating.groupby('User-ID')['Book-Rating'].count().reset_index()

In [238]:
ratingatleast200.rename(columns={'Book-Rating':'Book-Rating_count'},inplace=True)

In [239]:
ratingatleast200.head()

   User-ID  Book-Rating_count
0        2                  1
1        8                 17
2        9                  3
3       10                  1
4       12                  1

In [240]:
atleast200ratinguser=ratingatleast200[ratingatleast200['Book-Rating_count']>=200]

In [241]:
atleast200ratinguser.head()

      User-ID  Book-Rating_count
87        254                300
698      2276                456
862      2766                269
919      2977                227
1033     3363                890

In [242]:
atleast200ratinguser.shape

(816, 2)

In [243]:
x=pd.unique(atleast200ratinguser['User-ID'])

In [244]:
filter_data=book_and_rating[book_and_rating['User-ID'].isin(x)]

In [245]:
filter_data.shape

(475002, 10)

In [246]:
filter_data.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
6,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,85526,0

In [247]:
c1=filter_data.groupby('Book-Title')['Book-Rating'].count().reset_index()

In [248]:
c1.rename(columns={'Book-Rating':'Book-Rating_count'},inplace=True)

In [249]:
c1.head()

                                          Book-Title  Book-Rating_count
0   A Light in the Storm: The Civil War Diary of ...                  2
1                              Always Have Popsicles                  1
2               Apple Magic (The Collector's series)                  1
3   Beyond IBM: Leadership Marketing and Finance ...                  1
4   Clifford Visita El Hospital (Clifford El Gran...                  1

In [250]:
atlest50_rating=c1[c1['Book-Rating_count']>=50]

In [251]:
atlest50_rating.shape

(707, 2)

In [252]:
atlest50_rating.head(2)

              Book-Title  Book-Rating_count
484                 1984                 71
518  1st to Die: A Novel                160

In [253]:
v=pd.unique(atlest50_rating['Book-Title'])

In [254]:
filter_data.shape

(475002, 10)

In [255]:
final_data2=filter_data[filter_data['Book-Title'].isin(v)]

In [256]:
final_data2.shape

(58823, 10)

In [257]:
final_data2.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
31,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,11676,9
33,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,36836,0

In [258]:
data=final_data2.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [259]:
data.head()

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,0.0,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [260]:
data.shape

(707, 815)

In [261]:
data.fillna(0,inplace=True)

In [294]:
data

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [262]:
b=pd.read_csv(r'C:\Users\deyar\OneDrive\Desktop\BookRecommendationSystem\artifacts\data.csv')

In [263]:
b

,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
704,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0

In [264]:
data.fillna(0,inplace=True)

In [265]:
from sklearn.metrics.pairwise import cosine_similarity

In [266]:
similarity=cosine_similarity(data)

In [267]:
similarity

array([[1.        , 0.0999137 , 0.01189468, ..., 0.11799012, 0.07158663,
        0.04205081],
       [0.0999137 , 1.        , 0.2364573 , ..., 0.07446129, 0.16773875,
        0.14263397],
       [0.01189468, 0.2364573 , 1.        , ..., 0.04558758, 0.04938579,
        0.10796119],
       ...,
       [0.11799012, 0.07446129, 0.04558758, ..., 1.        , 0.07085128,
        0.0196177 ],
       [0.07158663, 0.16773875, 0.04938579, ..., 0.07085128, 1.        ,
        0.10602962],
       [0.04205081, 0.14263397, 0.10796119, ..., 0.0196177 , 0.10602962,
        1.        ]])

In [268]:
similarity[0]

array([1.        , 0.0999137 , 0.01189468, 0.        , 0.05229234,
       0.02703559, 0.08005247, 0.133798  , 0.03177829, 0.03573298,
       0.0226271 , 0.06592522, 0.020304  , 0.09425025, 0.1304464 ,
       0.08089641, 0.10866788, 0.0496928 , 0.02453052, 0.11405415,
       0.        , 0.13965274, 0.07645776, 0.05992325, 0.08499677,
       0.        , 0.06829594, 0.13307519, 0.07404925, 0.11854319,
       0.007483  , 0.01435345, 0.        , 0.07761015, 0.04406341,
       0.0151626 , 0.09251799, 0.01776199, 0.02543351, 0.07778745,
       0.11379679, 0.0554492 , 0.08139372, 0.08254087, 0.08560054,
       0.05350252, 0.0534403 , 0.26331669, 0.09527704, 0.05861375,
       0.08728505, 0.06575169, 0.        , 0.04353225, 0.01871487,
       0.        , 0.05484345, 0.00531237, 0.07674541, 0.05085288,
       0.18422052, 0.        , 0.01208759, 0.0290784 , 0.04169477,
       0.12354122, 0.16140808, 0.        , 0.1301383 , 0.06445396,
       0.        , 0.        , 0.        , 0.10686088, 0.02734449,
       0.04405541, 0.0254609 , 0.06699347, 0.01297391, 0.10248694,
       0.03167165, 0.01328403, 0.2306084 , 0.        , 0.10130612,
       0.06009182, 0.13811804, 0.11361279, 0.08116824, 0.00829019,
       0.0654278 , 0.        , 0.154433  , 0.03196179, 0.01041434,
       0.02513457, 0.02060486, 0.02618677, 0.02119881, 0.        ,
       0.01560485, 0.11802811, 0.04646003, 0.05669574, 0.06343332,
       0.        , 0.0464449 , 0.05137593, 0.02737765, 0.06356828,
       0.02061934, 0.02043932, 0.07231425, 0.01707714, 0.03274466,
       0.        , 0.01539053, 0.10755626, 0.16102364, 0.15115449,
       0.0607709 , 0.07930224, 0.05510014, 0.07266454, 0.03674914,
       0.05783708, 0.02879387, 0.03269331, 0.0461238 , 0.00980762,
       0.01628995, 0.07072309, 0.        , 0.        , 0.        ,
       0.02366065, 0.02988946, 0.09718526, 0.        , 0.01646698,
       0.02348879, 0.02738574, 0.        , 0.        , 0.01766268,
       0.02806762, 0.        , 0.05841023, 0.0207297 , 0.1007532 ,
       0.02695615, 0.10410091, 0.09644228, 0.13781517, 0.04878689,
       0.0850604 , 0.01374966, 0.        , 0.07634515, 0.0085956 ,
       0.04399795, 0.        , 0.01226526, 0.03900409, 0.07285412,
       0.01186594, 0.01838869, 0.02598903, 0.01396025, 0.1432484 ,
       0.05930779, 0.02512033, 0.02671383, 0.        , 0.14526273,
       0.05462639, 0.        , 0.03117647, 0.03550135, 0.        ,
       0.01912455, 0.21650925, 0.01476873, 0.0942457 , 0.02133718,
       0.01961781, 0.0526149 , 0.07075313, 0.01083057, 0.03556034,
       0.05840542, 0.        , 0.1431346 , 0.02032375, 0.10093291,
       0.09542563, 0.06440055, 0.1254017 , 0.08761537, 0.01117956,
       0.02396915, 0.        , 0.17585166, 0.05009695, 0.0464906 ,
       0.10570753, 0.12936761, 0.05763207, 0.05234846, 0.03389069,
       0.        , 0.08966431, 0.06224157, 0.04650607, 0.1484422 ,
       0.08204197, 0.12021004, 0.08558838, 0.07928432, 0.11864451,
       0.02371133, 0.00265847, 0.        , 0.        , 0.03577111,
       0.14888113, 0.03614062, 0.07266389, 0.09496112, 0.05276845,
       0.10003031, 0.07379678, 0.06261301, 0.0350914 , 0.01519651,
       0.01981277, 0.02400254, 0.        , 0.03263048, 0.02080469,
       0.01854434, 0.06631277, 0.01979871, 0.11481724, 0.07637937,
       0.08206016, 0.        , 0.01988328, 0.        , 0.04577455,
       0.08081263, 0.13615232, 0.01202785, 0.13163253, 0.07232632,
       0.11537437, 0.0480334 , 0.01579975, 0.02565328, 0.04692154,
       0.01909439, 0.09912675, 0.12916787, 0.        , 0.05368603,
       0.018133  , 0.        , 0.04388786, 0.03392925, 0.16078996,
       0.08248527, 0.06620646, 0.02910842, 0.        , 0.        ,
       0.0855621 , 0.0768255 , 0.04675675, 0.01430223, 0.02069234,
       0.04432946, 0.08450963, 0.0086322 , 0.02806576, 0.01970156,
       0.02352055, 0.12225698, 0.        , 0.02418693, 0.06352963,
       0.        , 0.05913776, 0.08410268, 0.13614834, 0.01927969,
       0.01228408, 0.08387275, 0.04319889, 0.02867419, 0.02184841,
       0.06373678, 0.07664613, 0.13914227, 0.1167132 , 0.0181063 ,
       0.13099699, 0.04685691, 0.09459803, 0.        , 0.20469829,
       0.07246533, 0.        , 0.12070545, 0.01015592, 0.02514496,
       0.        , 0.08721251, 0.03902569, 0.18515419, 0.02209215,
       0.0168586 , 0.02975525, 0.06644569, 0.09825353, 0.10198495,
       0.01640181, 0.12147727, 0.10002511, 0.034028  , 0.02598903,
       0.07456014, 0.0825619 , 0.01784878, 0.02121499, 0.14900173,
       0.        , 0.        , 0.01035915, 0.02097733, 0.0287069 ,
       0.        , 0.0202339 , 0.01164106, 0.00929156, 0.20143977,
       0.01514332, 0.03802323, 0.06509278, 0.087832  , 0.05762668,
       0.0604728 , 0.        , 0.01954386, 0.07641909, 0.15917803,
       0.06976966, 0.        , 0.14220017, 0.07367223, 0.02864158,
       0.04656746, 0.01760775, 0.11070589, 0.09539542, 0.07794022,
       0.08683203, 0.10660466, 0.        , 0.02061445, 0.0584957 ,
       0.0175095 , 0.05607437, 0.02056756, 0.09503665, 0.12770657,
       0.        , 0.06654309, 0.08898117, 0.        , 0.02709897,
       0.01465235, 0.0595601 , 0.01712107, 0.02407758, 0.01755262,
       0.11486693, 0.06301849, 0.13546717, 0.        , 0.06500118,
       0.        , 0.        , 0.05613944, 0.02207835, 0.00823155,
       0.02238413, 0.06952804, 0.14912013, 0.0588459 , 0.        ,
       0.08765604, 0.01506201, 0.09874723, 0.        , 0.01633246,
       0.        , 0.04892769, 0.15628767, 0.        , 0.13094201,
       0.12186923, 0.02269156, 0.01936178, 0.01077247, 0.02482524,
       0.00873007, 0.08034116, 0.01853973, 0.06844392, 0.02108042,
       0.12493306, 0.09741706, 0.08420688, 0.06191806, 0.02808902,
       0.04224353, 0.04585585, 0.05089432, 0.        , 0.08751806,
       0.00853122, 0.0966841 , 0.09965577, 0.        , 0.11991069,
       0.01713707, 0.01975982, 0.10072475, 0.1269322 , 0.08757792,
       0.08773485, 0.05194964, 0.07826898, 0.04479587, 0.05982032,
       0.02241559, 0.02245645, 0.06355335, 0.01866119, 0.        ,
       0.04425973, 0.        , 0.        , 0.0512667 , 0.01283226,
       0.        , 0.        , 0.04734378, 0.0715927 , 0.10088269,
       0.01674616, 0.09664898, 0.07883946, 0.00342853, 0.04634827,
       0.10836801, 0.05011243, 0.05520465, 0.        , 0.05931206,
       0.10522934, 0.        , 0.07360457, 0.        , 0.1329359 ,
       0.04673439, 0.15690035, 0.        , 0.01714618, 0.05298478,
       0.        , 0.07892531, 0.12754151, 0.00566885, 0.06966708,
       0.05288922, 0.05762264, 0.11811512, 0.05028948, 0.18790708,
       0.11199349, 0.06345598, 0.06237368, 0.        , 0.        ,
       0.10574617, 0.11107324, 0.04519976, 0.0177835 , 0.        ,
       0.01164473, 0.21422499, 0.05660341, 0.0423734 , 0.02578221,
       0.07089329, 0.05065985, 0.07055971, 0.10637858, 0.01584746,
       0.02369288, 0.0203974 , 0.13266966, 0.11435112, 0.08367406,
       0.08924327, 0.10561371, 0.06692383, 0.07990103, 0.13025344,
       0.        , 0.19459133, 0.02227429, 0.07855585, 0.        ,
       0.05608029, 0.06564822, 0.        , 0.19150929, 0.06144289,
       0.03409413, 0.09791433, 0.09349734, 0.02124117, 0.02257933,
       0.06309649, 0.06870929, 0.08067563, 0.1657143 , 0.07028453,
       0.01142064, 0.08321625, 0.17528356, 0.07801419, 0.01694899,
       0.16298684, 0.25717553, 0.17935621, 0.05456291, 0.04027312,
       0.06733334, 0.14085165, 0.22044678, 0.1871504 , 0.02331808,
       0.19510224, 0.01468892, 0.04900631, 0.12016584, 0.13836538,
       0.02408522, 0.08343632, 0.02302663, 0.12465093, 0.01055305,
       0.07163406, 0.0928744 , 0.03333919, 0.0700925 , 0.02238021,
       0.14949586, 0.08568461, 0.        , 0.        , 0.01830356,
       0.09521681, 0.04291124, 0.14820876, 0.01483113, 0.10042398,
       0.05568837, 0.0448179 , 0.05947579, 0.06403331, 0.14050562,
       0.08059795, 0.        , 0.04095625, 0.0221756 , 0.16934947,
       0.01860862, 0.15588905, 0.14304028, 0.        , 0.05787816,
       0.07526504, 0.07272845, 0.06378382, 0.06841054, 0.18434904,
       0.02430012, 0.01661191, 0.05297822, 0.04805997, 0.        ,
       0.11151141, 0.07795876, 0.12291611, 0.02247355, 0.05971528,
       0.02037015, 0.04433865, 0.10002638, 0.10450219, 0.02538357,
       0.00169243, 0.09619109, 0.0770845 , 0.02103713, 0.01572773,
       0.02031044, 0.09545575, 0.01780903, 0.18094225, 0.0520717 ,
       0.18438748, 0.05742651, 0.01449901, 0.11715626, 0.09587366,
       0.01021178, 0.10323797, 0.07421358, 0.07847313, 0.        ,
       0.22700367, 0.01046038, 0.1322457 , 0.04460839, 0.14068768,
       0.        , 0.12200992, 0.06289053, 0.02745084, 0.14074167,
       0.01676798, 0.09263709, 0.05045869, 0.17633624, 0.14735973,
       0.10708194, 0.12881891, 0.03853186, 0.03737679, 0.02400155,
       0.07643701, 0.03246169, 0.02930354, 0.02420211, 0.04115084,
       0.14073151, 0.12022969, 0.01471374, 0.02771242, 0.02077203,
       0.07201737, 0.08675349, 0.15485244, 0.06768953, 0.01033514,
       0.        , 0.09736247, 0.05564518, 0.0924443 , 0.00924546,
       0.13022242, 0.056451  , 0.        , 0.06548481, 0.02013856,
       0.        , 0.01792137, 0.        , 0.12329998, 0.07980979,
       0.08861857, 0.00711806, 0.07934504, 0.        , 0.04110338,
       0.0817707 , 0.0758563 , 0.        , 0.06967923, 0.02345695,
       0.01593088, 0.03638552, 0.05102579, 0.01110856, 0.00943819,
       0.12208488, 0.00886512, 0.05713332, 0.01724147, 0.11799012,
       0.07158663, 0.04205081])

In [269]:
similarity.shape

(707, 707)

every book has 707 value ,it calculate all distance , if distance is 1 then it show itself

In [270]:
np.where(data.index=='Year of Wonders')

(array([702], dtype=int64),)

In [271]:
np.where(data.index=='Year of Wonders')[0][0]

702

In [272]:
list(enumerate(similarity[0]))

[(0, 0.9999999999999998),
 (1, 0.09991370443681998),
 (2, 0.011894676421575648),
 (3, 0.0),
 (4, 0.0522923428754616),
 (5, 0.027035592129264218),
 (6, 0.08005246987594641),
 (7, 0.13379800079660079),
 (8, 0.03177829126649559),
 (9, 0.03573297811768626),
 (10, 0.022627095695491876),
 (11, 0.06592521898256122),
 (12, 0.02030399594727408),
 (13, 0.09425025422049896),
 (14, 0.13044639995428942),
 (15, 0.08089640554206895),
 (16, 0.10866787678155022),
 (17, 0.049692801008612855),
 (18, 0.024530524976685255),
 (19, 0.11405414701564792),
 (20, 0.0),
 (21, 0.13965274219894008),
 (22, 0.07645775981397283),
 (23, 0.05992324616320607),
 (24, 0.08499677059744355),
 (25, 0.0),
 (26, 0.06829593609316079),
 (27, 0.13307519236960055),
 (28, 0.0740492482078533),
 (29, 0.11854319325391062),
 (30, 0.007482996232171423),
 (31, 0.01435345067390976),
 (32, 0.0),
 (33, 0.07761014992531964),
 (34, 0.04406341116244771),
 (35, 0.015162595382829198),
 (36, 0.09251799313259884),
 (37, 0.017761989688713762),
 (38, 0.02543350839956968),
 (39, 0.07778744949702383),
 (40, 0.11379679242734765),
 (41, 0.05544919673069813),
 (42, 0.08139371923884797),
 (43, 0.08254087492421389),
 (44, 0.08560053653512883),
 (45, 0.053502515977879195),
 (46, 0.05344030451025426),
 (47, 0.26331668558969296),
 (48, 0.09527703545347672),
 (49, 0.05861374987374356),
 (50, 0.08728505291846035),
 (51, 0.06575168559659123),
 (52, 0.0),
 (53, 0.04353224517142862),
 (54, 0.018714866401050877),
 (55, 0.0),
 (56, 0.054843448009898516),
 (57, 0.005312367362293086),
 (58, 0.0767454122633513),
 (59, 0.05085287581078625),
 (60, 0.18422051694704247),
 (61, 0.0),
 (62, 0.012087590335457532),
 (63, 0.029078397440084086),
 (64, 0.041694769446052354),
 (65, 0.12354121580054411),
 (66, 0.16140807538784901),
 (67, 0.0),
 (68, 0.13013830397768777),
 (69, 0.06445395608545612),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (73, 0.10686088267827762),
 (74, 0.02734448893939146),
 (75, 0.044055409453358736),
 (76, 0.025460900446711256),
 (77, 0.06699347109102612),
 (78, 0.012973912747491989),
 (79, 0.10248693521610205),
 (80, 0.031671645193325305),
 (81, 0.013284034651148661),
 (82, 0.2306084004654351),
 (83, 0.0),
 (84, 0.10130612197313289),
 (85, 0.060091815719488566),
 (86, 0.13811804122731114),
 (87, 0.11361279050085639),
 (88, 0.0811682375532799),
 (89, 0.008290188176076053),
 (90, 0.06542780497381616),
 (91, 0.0),
 (92, 0.15443300128602555),
 (93, 0.031961788020588),
 (94, 0.010414339068866752),
 (95, 0.02513456783140031),
 (96, 0.02060486430894455),
 (97, 0.02618676719365358),
 (98, 0.021198811942484377),
 (99, 0.0),
 (100, 0.01560484565604773),
 (101, 0.11802810925393886),
 (102, 0.046460029846088935),
 (103, 0.056695741520506625),
 (104, 0.06343332368602739),
 (105, 0.0),
 (106, 0.04644489936294823),
 (107, 0.05137593095734639),
 (108, 0.0273776498734843),
 (109, 0.06356828046741919),
 (110, 0.02061933937608069),
 (111, 0.02043932271935257),
 (112, 0.07231424654580308),
 (113, 0.017077144437261257),
 (114, 0.032744662086535294),
 (115, 0.0),
 (116, 0.015390533955270815),
 (117, 0.10755626374328939),
 (118, 0.16102364040924586),
 (119, 0.1511544915076517),
 (120, 0.060770900684454204),
 (121, 0.07930224367172342),
 (122, 0.055100144522463826),
 (123, 0.07266454000367582),
 (124, 0.03674913879785127),
 (125, 0.05783708317109021),
 (126, 0.028793873683973115),
 (127, 0.03269330773716747),
 (128, 0.046123802971489845),
 (129, 0.009807619582711376),
 (130, 0.016289954012202644),
 (131, 0.0707230921294833),
 (132, 0.0),
 (133, 0.0),
 (134, 0.0),
 (135, 0.02366064923223582),
 (136, 0.029889459687780586),
 (137, 0.09718525537292937),
 (138, 0.0),
 (139, 0.016466984348963435),
 (140, 0.023488794381331633),
 (141, 0.02738573900052549),
 (142, 0.0),
 (143, 0.0),
 (144, 0.017662683735465864),
 (145, 0.028067618377598656),
 (146, 0.0),
 (147, 0.05841022990890417),
 (148, 0.020729695400390925),
 (149, 0.10075320470893027),
 (150, 0.02695615110260651),
 (151, 0.10410090866700955),
 (152, 0.09644228313399217),
 (153, 0.13781516595127977),
 (154, 0.04878689280370779),
 (155, 0.08506040125109933),
 (156, 0.013749660422240358),
 (157, 0.0),
 (158, 0.07634514942880985),
 (159, 0.008595601466223431),
 (160, 0.04399795316887499),
 (161, 0.0),
 (162, 0.012265262488342627),
 (163, 0.03900408740382429),
 (164, 0.07285412372335064),
 (165, 0.011865936100775331),
 (166, 0.01838868746012354),
 (167, 0.02598903460282222),
 (168, 0.013960253664198046),
 (169, 0.1432483967785062),
 (170, 0.05930778988644408),
 (171, 0.025120331004341995),
 (172, 0.026713826451792887),
 (173, 0.0),
 (174, 0.145262728497203),
 (175, 0.05462638773822999),
 (176, 0.0),
 (177, 0.03117647183348292),
 (178, 0.03550135192287963),
 (179, 0.0),
 (180, 0.01912454882108786),
 (181, 0.21650925243379174),
 (182, 0.014768728871684096),
 (183, 0.09424570209522182),
 (184, 0.02133718288128839),
 (185, 0.01961781049764555),
 (186, 0.052614899414182854),
 (187, 0.07075312610437876),
 (188, 0.010830566059052605),
 (189, 0.03556034417929572),
 (190, 0.05840542307600225),
 (191, 0.0),
 (192, 0.1431346011385888),
 (193, 0.020323746347517522),
 (194, 0.10093291383593442),
 (195, 0.09542563340368915),
 (196, 0.06440055359901856),
 (197, 0.12540170429956665),
 (198, 0.08761537410404252),
 (199, 0.011179561712278584),
 (200, 0.023969150294217714),
 (201, 0.0),
 (202, 0.17585166214330838),
 (203, 0.05009695201513879),
 (204, 0.04649059843320379),
 (205, 0.10570753126750267),
 (206, 0.12936761058023763),
 (207, 0.05763207439445362),
 (208, 0.05234845949912103),
 (209, 0.033890688734092116),
 (210, 0.0),
 (211, 0.08966430631606893),
 (212, 0.0622415698711718),
 (213, 0.046506072089293166),
 (214, 0.14844220121863017),
 (215, 0.08204196982622632),
 (216, 0.12021004209793373),
 (217, 0.08558837950972084),
 (218, 0.07928432327560847),
 (219, 0.11864450623399139),
 (220, 0.023711326901013803),
 (221, 0.002658471075040719),
 (222, 0.0),
 (223, 0.0),
 (224, 0.035771114930230996),
 (225, 0.14888113354015753),
 (226, 0.036140618174300906),
 (227, 0.0726638938707041),
 (228, 0.09496111588536216),
 (229, 0.05276844616862853),
 (230, 0.10003031223125453),
 (231, 0.0737967794455398),
 (232, 0.06261301234394037),
 (233, 0.0350913960409439),
 (234, 0.015196510800719893),
 (235, 0.01981276532654625),
 (236, 0.024002543790817045),
 (237, 0.0),
 (238, 0.03263048455361821),
 (239, 0.02080468656347694),
 (240, 0.018544343409042336),
 (241, 0.06631277226010168),
 (242, 0.019798708733555388),
 (243, 0.11481723645095737),
 (244, 0.07637936682899185),
 (245, 0.08206015589456213),
 (246, 0.0),
 (247, 0.01988327793753367),
 (248, 0.0),
 (249, 0.04577454888530159),
 (250, 0.08081262924513866),
 (251, 0.13615232117717077),
 (252, 0.012027852596661845),
 (253, 0.13163252948675472),
 (254, 0.07232632498138886),
 (255, 0.11537436976398406),
 (256, 0.048033396742143616),
 (257, 0.015799754893866595),
 (258, 0.02565328429584073),
 (259, 0.04692154206801084),
 (260, 0.019094389387671124),
 (261, 0.09912675063259611),
 (262, 0.12916787481513922),
 (263, 0.0),
 (264, 0.05368602647985153),
 (265, 0.01813300039864214),
 (266, 0.0),
 (267, 0.04388785670526847),
 (268, 0.0339292545429446),
 (269, 0.16078996341819543),
 (270, 0.0824852741676316),
 (271, 0.06620645892611529),
 (272, 0.02910841597107905),
 (273, 0.0),
 (274, 0.0),
 (275, 0.08556209648330297),
 (276, 0.07682550331829452),
 (277, 0.046756754202020426),
 (278, 0.014302229761998124),
 (279, 0.020692338999509313),
 (280, 0.044329459567618204),
 (281, 0.08450962830817643),
 (282, 0.008632196240696085),
 (283, 0.028065764320472374),
 (284, 0.019701558290507154),
 (285, 0.023520551934988126),
 (286, 0.12225698171301372),
 (287, 0.0),
 (288, 0.024186932359531465),
 (289, 0.06352962664149069),
 (290, 0.0),
 (291, 0.05913776231763752),
 (292, 0.08410268000094616),
 (293, 0.13614833687015301),
 (294, 0.019279685850739914),
 (295, 0.01228408419499267),
 (296, 0.08387275437191699),
 (297, 0.04319888622376259),
 (298, 0.028674186919701583),
 (299, 0.021848414458001016),
 (300, 0.0637367761069208),
 (301, 0.07664612718667285),
 (302, 0.1391422697207925),
 (303, 0.11671319952059567),
 (304, 0.01810630003181428),
 (305, 0.1309969918073752),
 (306, 0.04685691195043191),
 (307, 0.09459803081006879),
 (308, 0.0),
 (309, 0.20469829119944727),
 (310, 0.07246533169556696),
 (311, 0.0),
 (312, 0.12070545241831657),
 (313, 0.010155916748332713),
 (314, 0.02514496051050757),
 (315, 0.0),
 (316, 0.08721251355780599),
 (317, 0.039025692032015974),
 (318, 0.18515418624826524),
 (319, 0.022092149331515022),
 (320, 0.016858600203123682),
 (321, 0.029755254482476432),
 (322, 0.06644569122065519),
 (323, 0.09825352675188453),
 (324, 0.10198495314118106),
 (325, 0.016401807331652387),
 (326, 0.12147726617265014),
 (327, 0.10002511056608657),
 (328, 0.03402799665376873),
 (329, 0.02598903460282222),
 (330, 0.07456013956314114),
 (331, 0.0825618965856072),
 (332, 0.017848775092703408),
 (333, 0.02121499205268589),
 (334, 0.14900173136616937),
 (335, 0.0),
 (336, 0.0),
 (337, 0.010359148754172702),
 (338, 0.020977332043161333),
 (339, 0.02870690134781952),
 (340, 0.0),
 (341, 0.020233897176800252),
 (342, 0.011641059051921846),
 (343, 0.00929155898064548),
 (344, 0.20143976888534182),
 (345, 0.015143316804933846),
 (346, 0.038023230066809986),
 (347, 0.0650927773464465),
 (348, 0.08783200280911324),
 (349, 0.057626684101655556),
 (350, 0.06047280412250457),
 (351, 0.0),
 (352, 0.019543858278628073),
 (353, 0.07641909380166526),
 (354, 0.1591780299676662),
 (355, 0.06976965848409127),
 (356, 0.0),
 (357, 0.14220017278956634),
 (358, 0.07367223302634085),
 (359, 0.028641584081506688),
 (360, 0.046567461272644294),
 (361, 0.01760774628955633),
 (362, 0.11070589087189953),
 (363, 0.09539541751829861),
 (364, 0.07794022324434832),
 (365, 0.08683203255177213),
 (366, 0.1066046640468056),
 (367, 0.0),
 (368, 0.020614445739041067),
 (369, 0.05849570322441473),
 (370, 0.017509496267342054),
 (371, 0.05607437453626603),
 (372, 0.020567561376182833),
 (373, 0.09503664753758422),
 (374, 0.1277065715515485),
 (375, 0.0),
 (376, 0.06654308644336593),
 (377, 0.08898116579407876),
 (378, 0.0),
 (379, 0.027098969433214628),
 (380, 0.014652347953027238),
 (381, 0.05956010178612179),
 (382, 0.017121067963763118),
 (383, 0.024077577298580306),
 (384, 0.01755261908560742),
 (385, 0.1148669288142544),
 (386, 0.063018487422519),
 (387, 0.13546716979810733),
 (388, 0.0),
 (389, 0.06500117566651653),
 (390, 0.0),
 (391, 0.0),
 (392, 0.05613944434228449),
 (393, 0.022078354669332327),
 (394, 0.008231548103223569),
 (395, 0.022384132857136686),
 (396, 0.06952804056257057),
 (397, 0.14912013126688792),
 (398, 0.05884589781441565),
 (399, 0.0),
 (400, 0.08765603808497432),
 (401, 0.015062006231561068),
 (402, 0.09874723127341087),
 (403, 0.0),
 (404, 0.01633245790075744),
 (405, 0.0),
 (406, 0.048927688972128944),
 (407, 0.15628767003519692),
 (408, 0.0),
 (409, 0.13094200596361516),
 (410, 0.12186922619140575),
 (411, 0.02269156048621941),
 (412, 0.0193617811831198),
 (413, 0.010772468937396775),
 (414, 0.024825244892303568),
 (415, 0.008730065964077641),
 (416, 0.08034116040728524),
 (417, 0.01853972981439225),
 (418, 0.06844391587146191),
 (419, 0.021080423777674877),
 (420, 0.1249330600174654),
 (421, 0.0974170581331768),
 (422, 0.08420687805760833),
 (423, 0.061918062220213586),
 (424, 0.02808902163900285),
 (425, 0.042243533657652724),
 (426, 0.045855847780912874),
 (427, 0.050894316464521736),
 (428, 0.0),
 (429, 0.0875180616783704),
 (430, 0.00853121970560097),
 (431, 0.09668409745266401),
 (432, 0.09965577298974786),
 (433, 0.0),
 (434, 0.1199106932868684),
 (435, 0.017137071684762455),
 (436, 0.01975981906973765),
 (437, 0.10072474941620055),
 (438, 0.12693219505302375),
 (439, 0.08757791997148481),
 (440, 0.08773484733273176),
 (441, 0.05194963640104071),
 (442, 0.07826897800033467),
 (443, 0.04479586927665188),
 (444, 0.05982032433839682),
 (445, 0.022415585146333687),
 (446, 0.02245645224525099),
 (447, 0.06355335392485563),
 (448, 0.018661190172188546),
 (449, 0.0),
 (450, 0.044259725044918076),
 (451, 0.0),
 (452, 0.0),
 (453, 0.05126670334200117),
 (454, 0.01283225842585771),
 (455, 0.0),
 (456, 0.0),
 (457, 0.04734378434348944),
 (458, 0.07159270083421779),
 (459, 0.10088269487111347),
 (460, 0.016746164475006715),
 (461, 0.09664897669398803),
 (462, 0.07883946086990776),
 (463, 0.003428525782102762),
 (464, 0.04634827368917979),
 (465, 0.10836800888608529),
 (466, 0.05011242920705453),
 (467, 0.05520465109403304),
 (468, 0.0),
 (469, 0.05931205520849227),
 (470, 0.10522933859091786),
 (471, 0.0),
 (472, 0.0736045668118945),
 (473, 0.0),
 (474, 0.132935899130592),
 (475, 0.04673438994816359),
 (476, 0.15690035419158116),
 (477, 0.0),
 (478, 0.0171461847253878),
 (479, 0.05298478023808025),
 (480, 0.0),
 (481, 0.07892531163996896),
 (482, 0.1275415137320892),
 (483, 0.0056688481615678275),
 (484, 0.06966708376041454),
 (485, 0.05288921910947858),
 (486, 0.05762264409042139),
 (487, 0.11811512491539254),
 (488, 0.05028948204122814),
 (489, 0.18790707816989383),
 (490, 0.11199348824195932),
 (491, 0.06345597902735843),
 (492, 0.062373683046773334),
 (493, 0.0),
 (494, 0.0),
 (495, 0.10574616771210477),
 (496, 0.11107323837045466),
 (497, 0.04519975754598484),
 (498, 0.01778349517576035),
 (499, 0.0),
 (500, 0.011644727641486666),
 (501, 0.2142249863657188),
 (502, 0.05660340669222072),
 (503, 0.0423734041229564),
 (504, 0.025782210644827164),
 (505, 0.0708932868624412),
 (506, 0.05065985169330193),
 (507, 0.07055970638425692),
 (508, 0.10637857861259928),
 (509, 0.015847455648434986),
 (510, 0.023692881680874106),
 (511, 0.020397395859368152),
 (512, 0.1326696591858805),
 (513, 0.11435111674580672),
 (514, 0.08367405612965635),
 (515, 0.08924327146615292),
 (516, 0.10561371009861022),
 (517, 0.06692383285525921),
 (518, 0.07990102780945309),
 (519, 0.13025343960927546),
 (520, 0.0),
 (521, 0.1945913301271719),
 (522, 0.02227428783914949),
 (523, 0.0785558510940234),
 (524, 0.0),
 (525, 0.05608028959259705),
 (526, 0.06564822103902915),
 (527, 0.0),
 (528, 0.1915092894769818),
 (529, 0.06144288769054244),
 (530, 0.034094130516191645),
 (531, 0.09791433189439425),
 (532, 0.09349733543930944),
 (533, 0.02124116725332931),
 (534, 0.022579326747877868),
 (535, 0.06309648555442603),
 (536, 0.06870929031980245),
 (537, 0.08067563175994914),
 (538, 0.16571429613724833),
 (539, 0.07028452731704),
 (540, 0.011420642642429105),
 (541, 0.08321624900253381),
 (542, 0.17528356134820602),
 (543, 0.07801419012989912),
 (544, 0.016948992561665717),
 (545, 0.16298683907968622),
 (546, 0.25717553496685785),
 (547, 0.1793562146567134),
 (548, 0.05456291227548526),
 (549, 0.04027312155487893),
 (550, 0.06733334322780962),
 (551, 0.14085164980654757),
 (552, 0.2204467783292418),
 (553, 0.18715039796581023),
 (554, 0.023318076966728107),
 (555, 0.19510223814372807),
 (556, 0.014688918586939248),
 (557, 0.049006314714900176),
 (558, 0.1201658413991955),
 (559, 0.13836538353551028),
 (560, 0.024085219761016404),
 (561, 0.0834363186800032),
 (562, 0.023026629590177143),
 (563, 0.12465092777990955),
 (564, 0.010553051718045317),
 (565, 0.07163406099253589),
 (566, 0.09287440250839385),
 (567, 0.03333918535415906),
 (568, 0.07009250280253378),
 (569, 0.022380211675699143),
 (570, 0.14949586193709227),
 (571, 0.08568460938850256),
 (572, 0.0),
 (573, 0.0),
 (574, 0.01830356146761774),
 (575, 0.09521681434392457),
 (576, 0.04291123579015548),
 (577, 0.14820875798277983),
 (578, 0.01483113454242387),
 (579, 0.10042398387835796),
 (580, 0.0556883748569272),
 (581, 0.0448178984693842),
 (582, 0.0594757930466015),
 (583, 0.06403331024039588),
 (584, 0.1405056167624841),
 (585, 0.08059794519820399),
 (586, 0.0),
 (587, 0.04095624930906902),
 (588, 0.0221755981038419),
 (589, 0.1693494650818239),
 (590, 0.018608624482462147),
 (591, 0.15588904638387238),
 (592, 0.14304028047181153),
 (593, 0.0),
 (594, 0.05787816221602639),
 (595, 0.07526504142495816),
 (596, 0.0727284543213628),
 (597, 0.06378381744008804),
 (598, 0.06841053608656329),
 (599, 0.1843490366438097),
 (600, 0.02430012449402242),
 (601, 0.016611907344343996),
 (602, 0.05297822409513497),
 (603, 0.04805997481426211),
 (604, 0.0),
 (605, 0.11151140838311296),
 (606, 0.07795876148166474),
 (607, 0.12291610885083701),
 (608, 0.022473546296782578),
 (609, 0.05971527522977225),
 (610, 0.02037015391618116),
 (611, 0.0443386529107659),
 (612, 0.10002638403816352),
 (613, 0.10450219251020067),
 (614, 0.025383574370671163),
 (615, 0.00169242926737365),
 (616, 0.09619109375790216),
 (617, 0.07708449643350376),
 (618, 0.021037125924361706),
 (619, 0.0157277269810035),
 (620, 0.020310440637468844),
 (621, 0.09545575468081709),
 (622, 0.017809034222295468),
 (623, 0.18094225216441853),
 (624, 0.052071695344333764),
 (625, 0.1843874814079204),
 (626, 0.05742650919761644),
 (627, 0.01449900583074111),
 (628, 0.1171562595025841),
 (629, 0.09587365657045294),
 (630, 0.010211784933566167),
 (631, 0.10323797368101506),
 (632, 0.07421358421857317),
 (633, 0.07847313249394075),
 (634, 0.0),
 (635, 0.22700367288326906),
 (636, 0.010460384647470853),
 (637, 0.13224569739150674),
 (638, 0.04460838778066909),
 (639, 0.14068767501456034),
 (640, 0.0),
 (641, 0.1220099192805649),
 (642, 0.0628905321068132),
 (643, 0.02745083854076375),
 (644, 0.14074167092377274),
 (645, 0.016767976486173064),
 (646, 0.09263708638276434),
 (647, 0.050458685752415224),
 (648, 0.17633623834710418),
 (649, 0.14735973438655803),
 (650, 0.10708193974752152),
 (651, 0.1288189145950784),
 (652, 0.03853185836842802),
 (653, 0.037376791524773995),
 (654, 0.02400155065693728),
 (655, 0.07643700969701771),
 (656, 0.03246169487797916),
 (657, 0.029303539334091043),
 (658, 0.024202114102305595),
 (659, 0.04115084334093072),
 (660, 0.14073151278961762),
 (661, 0.1202296886978092),
 (662, 0.014713737679104694),
 (663, 0.02771241940754037),
 (664, 0.020772027049671092),
 (665, 0.0720173673826542),
 (666, 0.086753488355738),
 (667, 0.15485243550124778),
 (668, 0.0676895316551231),
 (669, 0.010335141424671991),
 (670, 0.0),
 (671, 0.09736246717492743),
 (672, 0.05564518487303545),
 (673, 0.09244430072020564),
 (674, 0.009245461039317478),
 (675, 0.130222420672014),
 (676, 0.056450997014158955),
 (677, 0.0),
 (678, 0.06548481227510251),
 (679, 0.020138557936476422),
 (680, 0.0),
 (681, 0.01792136682481349),
 (682, 0.0),
 (683, 0.12329997861653874),
 (684, 0.0798097909890366),
 (685, 0.08861856720415417),
 (686, 0.007118056266836121),
 (687, 0.07934503864420195),
 (688, 0.0),
 (689, 0.04110338067335807),
 (690, 0.08177070396433911),
 (691, 0.07585629680834927),
 (692, 0.0),
 (693, 0.06967922923098174),
 (694, 0.023456945153962124),
 (695, 0.015930875439996984),
 (696, 0.03638551996384881),
 (697, 0.051025786938434174),
 (698, 0.011108558010761787),
 (699, 0.009438188649941648),
 (700, 0.1220848833862817),
 (701, 0.008865119724181626),
 (702, 0.057133317582110106),
 (703, 0.01724146971497203),
 (704, 0.11799011937685382),
 (705, 0.07158662540079876),
 (706, 0.042050812160027144)]

In [273]:
x=list(enumerate(similarity[0]))

In [274]:
list(enumerate(similarity[0]))[0][1]

0.9999999999999998

In [275]:
sorted(list(enumerate(similarity[0])),key=lambda x: x[1],reverse=True)[1:5]

[(47, 0.26331668558969296),
 (546, 0.25717553496685785),
 (82, 0.2306084004654351),
 (635, 0.22700367288326906)]

In [276]:
p=sorted(list(enumerate(similarity[0])),key=lambda x: x[1],reverse=True)[1:5]
for i in p:
    x=i[0]
    print(x)

47
546
82
635

In [277]:
data.index

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Day Late and a Dollar Short', 'A Fine Balance',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='Book-Title', length=707)

In [278]:
data.index[78]

'Blood Work'

In [279]:
def recomand(book_name):
  index=np.where(data.index==book_name)[0][0]
  similar=sorted(list(enumerate(similarity[index])),key=lambda x:x[1],reverse=True)[1:6]
  
  for i in similar:
    temp=book[book['Book-Title']==data.index[i[0]]]
    return temp

In [280]:
recomand('1984')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
285,0451526341,Animal Farm,George Orwell,2004,Signet,http://images.amazon.com/images/P/0451526341.0...,http://images.amazon.com/images/P/0451526341.0...,http://images.amazon.com/images/P/0451526341.0...
4878,0451522303,Animal Farm,George Orwell,1956,Signet Book,http://images.amazon.com/images/P/0451522303.0...,http://images.amazon.com/images/P/0451522303.0...,http://images.amazon.com/images/P/0451522303.0...
5912,0451524667,Animal Farm,George Orwell,1990,New Amer Library Classics,http://images.amazon.com/images/P/0451524667.0...,http://images.amazon.com/images/P/0451524667.0...,http://images.amazon.com/images/P/0451524667.0...
8985,0736605673,Animal Farm,George Orwell,1981,Books on Tape,http://images.amazon.com/images/P/0736605673.0...,http://images.amazon.com/images/P/0736605673.0...,http://images.amazon.com/images/P/0736605673.0...
52635,0451518012,Animal Farm,George Orwell,1956,Signet Book,http://images.amazon.com/images/P/0451518012.0...,http://images.amazon.com/images/P/0451518012.0...,http://images.amazon.com/images/P/0451518012.0...
53668,0451521560,Animal Farm,George Orwell,1986,New Amer Library Classics (Mm),http://images.amazon.com/images/P/0451521560.0...,http://images.amazon.com/images/P/0451521560.0...,http://images.amazon.com/images/P/0451521560.0...
115681,0451519000,Animal Farm,George Orwell,1956,Penguin Putnam~mass,http://images.amazon.com/images/P/0451519000.0...,http://images.amazon.com/images/P/0451519000.0...,http://images.amazon.com/images/P/0451519000.0...
116165,0151072558,Animal Farm,George Orwell,1990,Harcourt,http://images.amazon.com/images/P/0151072558.0...,http://images.amazon.com/images/P/0151072558.0...,http://images.amazon.com/images/P/0151072558.0...
131735,0451520874,Animal Farm,George Orwell,1956,Signet Book,http://images.amazon.com/images/P/0451520874.0...,http://images.amazon.com/images/P/0451520874.0...,http://images.amazon.com/images/P/0451520874.0...
209114,1854597892,Animal Farm,George Orwell,2004,Nick Hern Books,http://images.amazon.com/images/P/1854597892.0...,http://images.amazon.com/images/P/1854597892.0...,http://images.amazon.com/images/P/1854597892.0...

In [281]:
def recomand(book_name):
  index=np.where(data.index==book_name)[0][0]
  similar=sorted(list(enumerate(similarity[index])),key=lambda x:x[1],reverse=True)[1:5]
  d=[]
  for i in similar:
    item=[]
    temp=book[book['Book-Title']==data.index[i[0]]]
    item.extend(temp.drop_duplicates('Book-Title')['Book-Author'].values)
    item.extend(temp.drop_duplicates('Book-Title')['Book-Author'].values)
    item.extend(temp.drop_duplicates('Book-Title')['Image-URL-M'].values)
    d.append(item)
  return d

In [282]:
recomand('1984')

[['George Orwell',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ['Margaret Atwood',
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Aldous Huxley',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['ANNE RICE',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg']]

In [283]:
def recomand(book_name):
  index=np.where(data.index==book_name)[0][0]
  similar=sorted(list(enumerate(similarity[index])),key=lambda x:x[1],reverse=True)[1:6]
  return similar

In [284]:
recomand('1984')

[(47, 0.26331668558969296),
 (546, 0.25717553496685785),
 (82, 0.2306084004654351),
 (635, 0.22700367288326906),
 (552, 0.2204467783292418)]

In [285]:
def recomand(book_name):
  index=np.where(data.index==book_name)[0][0]
  similar=sorted(list(enumerate(similarity[index])),key=lambda x:x[1],reverse=True)[1:6]
  res=[]
  for i in similar:
    item=[]
    temp=book[book['Book-Title']==data.index[i[0]]]
    item.extend(temp.drop_duplicates('Book-Title')['Book-Title'].values)
    item.extend(temp.drop_duplicates('Book-Title')['Book-Author'].values)
    item.extend(temp.drop_duplicates('Book-Title')['Image-URL-M'].values)
    res.append(item)
  return res

In [286]:
recomand('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg'],
 ['The Hours : A Novel',
  'Michael Cunningham',
  'http://images.amazon.com/images/P/0312243022.01.MZZZZZZZ.jpg']]

In [287]:
import pickle

In [288]:
def recomand(book_name):
  index=np.where(data.index==book_name)[0][0]
  similar=sorted(list(enumerate(similarity[index])),key=lambda x:x[1],reverse=True)[1:6]
  res=[]
  for i in similar:
    item=[]
    temp=book[book['Book-Title']==data.index[i[0]]]
    item.extend(temp.drop_duplicates('Book-Title')['Book-Title'].values)
    item.extend(temp.drop_duplicates('Book-Title')['Book-Author'].values)
    item.extend(temp.drop_duplicates('Book-Title')['Image-URL-M'].values)
    res.append(item)
  return res

In [289]:
recomand('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg'],
 ['The Hours : A Novel',
  'Michael Cunningham',
  'http://images.amazon.com/images/P/0312243022.01.MZZZZZZZ.jpg']]

In [290]:

def form1(x):
         
         index=np.where(data.index==x)[0][0]
         similar=sorted(list(enumerate(similarity[index])),key=lambda x:x[1],reverse=True)[1:5]
         res=[]
         for i in similar:
           item=[]
           temp=book[book['Book-Title']==data.index[i[0]]]
           item.extend(temp.drop_duplicates('Book-Title')['Book-Title'].values)
           item.extend(temp.drop_duplicates('Book-Title')['Book-Author'].values)
           item.extend(temp.drop_duplicates('Book-Title')['Image-URL-M'].values)
           res.append(item)
         return res

In [291]:
form1('1984')

[['Animal Farm',
  'George Orwell',
  'http://images.amazon.com/images/P/0451526341.01.MZZZZZZZ.jpg'],
 ["The Handmaid's Tale",
  'Margaret Atwood',
  'http://images.amazon.com/images/P/0449212602.01.MZZZZZZZ.jpg'],
 ['Brave New World',
  'Aldous Huxley',
  'http://images.amazon.com/images/P/0060809833.01.MZZZZZZZ.jpg'],
 ['The Vampire Lestat (Vampire Chronicles, Book II)',
  'ANNE RICE',
  'http://images.amazon.com/images/P/0345313860.01.MZZZZZZZ.jpg']]

In [292]:
final_data=pd.read_csv(r'C:\Users\deyar\OneDrive\Desktop\BookRecommendationSystem\artifacts\data.csv')

In [293]:
final_data

,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,271705,273979,274004,274061,274301,274308,275970,277427,277639,278418
0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
704,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
705,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
706,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0